

@font-face {
    font-weight: 200;
    font-family: 'asswat-light';
    src: url('../fonts/IBMPlexSansArabic-Bold.ttf');
    
}

@font-face {
    font-weight: 400;
    font-family: 'asswat-regular';
    src: url('../fonts/IBMPlexSansArabic-Regular.ttf');
}

@font-face {
    font-weight: 500;
    font-family: 'asswat-medium';
    src: url('../fonts/IBMPlexSansArabic-Medium.ttf');
}

@font-face {
    font-weight: 600;
    font-family: 'asswat-bold';
    src: url('../fonts/IBMPlexSansArabic-Bold.ttf');
}


body {
    font-family: 'asswat-regular';
}

.font-r {
    font-family: 'asswat-regular';
}

.font-m {
    font-family: 'asswat-medium';
}

.font-b {
    font-family: 'asswat-bold';
}